/* caveat-regular - latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/caveat-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Caveat Regular'), local('Caveat-Regular'),
       url('./assets/fonts/caveat-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/caveat-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/caveat-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/caveat-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/caveat-v8-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
}
/* caveat-700 - latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/caveat-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Caveat Bold'), local('Caveat-Bold'),
       url('./assets/fonts/caveat-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/caveat-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/caveat-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/caveat-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/caveat-v8-latin-700.svg#Caveat') format('svg'); /* Legacy iOS */
}
html,
body {
  background-color: #fcfcfc;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
  }
}

nav {
  background-color: #fcfcfc;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #007bff;
  padding: 1rem;
  text-decoration: none;
}

.main-container {
  margin-top: 3.5rem;
}

.container-fluid {
  overflow: hidden;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.container-fluid img {
  clear: both;
  margin: auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-size: cover;
  overflow: hidden;
  max-width: 250px;
}

.profile-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/profile_pic.jpg);
  padding-bottom: 66.6667%;
}

.tile-item {
  margin: auto;
  padding: 10px;
}

#msg-container {
  padding: 2rem;
}

p#success-message {
  border: 1px solid #007bff;
  padding: 5rem;
  margin-top: 1rem;
}

.bio {
  padding: 28px;
}

.summary {
  margin-top: 1rem;
}
nav li {
  margin: 0;
  padding-left: 0;
  float: left;
}
.navbar-title{
  font-family: "Caveat"; 
  font-style: normal;
  font-size: 2rem;
}

a.navbar-brand {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

a.navbar-brand:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a.navbar-brand:hover {
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%) !important;
  mask-size: 200% !important;
  animation: float 2s !important;
}

span.navbar-text svg{
    fill: #007bff;
}

.active-nav-item {
  color: #007bff !important;
}

.active-nav-item:after {
  padding: 0rem 0.2rem;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.2rem;
  background: #007bff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
  left: 0;
  cursor: default;
}

.header {
  font-family: "Caveat"; 
  font-style: normal;
  font-size: 1.5rem;
  color: #000;
  margin-right: 0.2rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  position: relative;
}

li.header:not(.active-nav-item):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.2rem;
  left: 50%;
  position: absolute;
  background: #007bff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  cursor: default;
}

li.header:not(.active-nav-item):hover:after {
  width: 100%;
  left: 0;
}

div#theme {
    font-size: x-small !important;
}

a.back-to-home {
  color: #007bff;
  margin-top: 1rem;
  border: 0.1rem solid #007bff;
  padding: 0.4rem;
  font-weight: bold;
}

a.back-to-home:hover {
  color: royalblue;
}

.social-link:hover {
  transform: scale(1);
  animation: heart-beat 1s ease-in-out infinite alternate;
}

/** Navbar Toggler Icon **/
.navbar-toggler:focus,
.navbar-toggler:hover {
  color: #007bff !important;
  border: 0px !important;
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #007bff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform 0.35s ease-in-out;
  -moz-transition: transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

/** animations **/

.animate-float {
  animation: float 2s ease-in-out;
}

.animate-beat {
  transform: scale(1);
  animation: heart-beat 1s ease-in-out infinite alternate;
}

@keyframes heart-beat {
  100% {
    transform: scale(1.2);
  }
}

@keyframes float {
  0% {
    transform: rotate(10deg) translateY(0);
  }
  25% {
    transform: rotate(5deg) translateY(-10px);
  }
  50% {
    transform: rotate(-5deg) translateY(10px);
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
